force-app/main/default/flows/Account_First_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Account already has visits.</description>
        <name>Has_Visits</name>
        <label>Has Visits</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Blackbook_Guest_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_One_Time_Visitor_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of Personal Shopping Visit records related to the account</description>
        <name>Personal_Shopping_Visits_Count</name>
        <label>Personal Shopping Visits Count</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PersonalShoppingVisit</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Visit_Personal_Shopping_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Personal_Shopping_Visits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update First Visit field.</description>
        <name>Update_First_Visit</name>
        <label>Update First Visit</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Blackbook_Guest_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1st Visit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_One_Time_Visitor_to_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Condition to check whether or not the account has any visits.</description>
        <name>Are_there_any_visits</name>
        <label>Are there any visits?</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Has_Visits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Visits</defaultConnectorLabel>
        <rules>
            <name>No_Visits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record_from_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Visit</targetReference>
            </connector>
            <label>No Visits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_More_Than_One_Personal_Shopping_Visit</name>
        <label>Is There More Than One Personal Shopping Visit?</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_Personal_Shopping_Engagements_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_One_PS_Visit_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonalShoppingVisit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Private_Client_Personal_Shopping_Status_to_1st_Visit</targetReference>
            </connector>
            <label>There Is One Personal Shopping Visit</label>
        </rules>
        <rules>
            <name>There_Is_More_Than_One_Personal_Shopping_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonalShoppingVisit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Private_Client_Personal_Shopping_Status_to_Existing</targetReference>
            </connector>
            <label>There Is More Than One Personal Shopping Visit</label>
        </rules>
    </decisions>
    <description>Changes visit guest status account field depending on whether or not it is the first visit and also updates the Personal Shopping Engagements. Updates Private Client Visit Status visit field</description>
    <interviewLabel>Account First Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account First Visit</label>
    <loops>
        <description>Loops through every Personal Shopping Visit record related to the account</description>
        <name>Count_Personal_Shopping_Visits</name>
        <label>Count Personal Shopping Visits</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Visit_Personal_Shopping_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Personal_Shopping_Visits_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_There_More_Than_One_Personal_Shopping_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Personal Shopping Visit records related to the account.</description>
        <name>Get_Visit_Personal_Shopping_Records</name>
        <label>Get Visit Personal Shopping Records</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Personal_Shopping_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Record_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal_Shopping_Visit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all the visits record belonging to the same account.</description>
        <name>Get_Visit_Record_from_Account</name>
        <label>Get Visit Record from Account</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Personal Shopping Engagements field in accounts with the number of current Personal Shopping Visit records.</description>
        <name>Set_Personal_Shopping_Engagements_Field</name>
        <label>Set Personal Shopping Engagements Field</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Get_Visit_Record_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Shopping_engagements__c</field>
            <value>
                <elementReference>PersonalShoppingVisit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_One_Time_Visitor_to_False</name>
        <label>Update Account One-Time Visitor to False</label>
        <locationX>446</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>One_Time_Visitor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_One_Time_Visitor_to_True</name>
        <label>Update Account One-Time Visitor to True</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>One_Time_Visitor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Visit field Private Client Personal Shopping Status to 1st Visit</description>
        <name>Update_Private_Client_Personal_Shopping_Status_to_1st_Visit</name>
        <label>Update Private Client Personal Shopping Status to 1st Visit</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Set_Personal_Shopping_Engagements_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Private_Client_Personal_Shopping_Status__c</field>
            <value>
                <stringValue>1st Visit</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Visit Field Private Client Personal Shopping Status to Existing</description>
        <name>Update_Private_Client_Personal_Shopping_Status_to_Existing</name>
        <label>Update Private Client Personal Shopping Status to Existing</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Set_Personal_Shopping_Engagements_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Private_Client_Personal_Shopping_Status__c</field>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Personal_Shopping_Records</targetReference>
        </connector>
        <object>Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DeployTest</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>First Visit that belongs to its current account.</description>
        <name>FirstVisitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>PersonalShoppingVisit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
