force-app/main/default/flows/Add_Gift_to_Deal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Delete_Gifts_APEX</name>
        <label>Delete Gifts APEX</label>
        <locationX>493</locationX>
        <locationY>543</locationY>
        <actionName>deleteGiftsFromFlowSelection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateGiftBackOn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail3</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>SelectedGifts</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CreateGift</name>
        <choiceText>Create a Gift</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a gift</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoGiftGiven</name>
        <choiceText>Record No Gift Given</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record No Gift Given</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Gifts</name>
        <choiceText>Remove Gifts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Gifts</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GiftGivenDecision</name>
        <label>GiftGivenDecision</label>
        <locationX>233</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Gift_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateGift</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddGift</targetReference>
            </connector>
            <label>Gift Given</label>
        </rules>
        <rules>
            <name>No_Gift_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoGiftGiven</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoGiftGivenEntry</targetReference>
            </connector>
            <label>No Gift Given</label>
        </rules>
        <rules>
            <name>Remove_the_Gifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_Gifts</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectGiftstoDelete</targetReference>
            </connector>
            <label>Remove the Gifts</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrencyChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Gift__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>Gift__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectGifts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <object>Gift__c</object>
        <outputAssignments>
            <assignToReference>GiftIdsToDelete</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Gift to Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Gift to Deal</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Gift</name>
        <label>Create Gift</label>
        <locationX>727</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>CreateGiftOn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyChoices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Sent__c</field>
            <value>
                <elementReference>Date_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Description__c</field>
            <value>
                <elementReference>Gift_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Value__c</field>
            <value>
                <elementReference>Gift_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Deal_Gift__c</field>
            <value>
                <elementReference>Multi_Deal_Gift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Gift_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
        </inputAssignments>
        <object>Gift__c</object>
    </recordCreates>
    <recordUpdates>
        <name>CreateGiftBackOn</name>
        <label>CreateGiftBackOn</label>
        <locationX>733</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Exit_Screen3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftBackonAfterFail1</name>
        <label>CreateGiftBackonAfterFail1</label>
        <locationX>735</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>AddGiftErrorMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftBackonAfterFail2</name>
        <label>CreateGiftBackonAfterFail2</label>
        <locationX>790</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>No_Gifts_Given_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftBackonAfterFail3</name>
        <label>CreateGiftBackonAfterFail3</label>
        <locationX>484</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>DeleteErrorMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftoff</name>
        <label>CreateGiftoff</label>
        <locationX>540</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Create_Gift</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Status__c</field>
            <value>
                <stringValue>Gift Recorded</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftOff2</name>
        <label>CreateGiftOff2</label>
        <locationX>610</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Update_No_Gift_Given_field</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftOfftoRemoveGift</name>
        <label>CreateGiftOfftoRemoveGift</label>
        <locationX>233</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Delete_Gifts_APEX</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_No_Gift_Given__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftOn</name>
        <label>CreateGiftOn</label>
        <locationX>900</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_No_Gift_Given__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CreateGiftOn2</name>
        <label>CreateGiftOn2</label>
        <locationX>985</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Exit_Screen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateGift__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Gift_Given_field</name>
        <label>Update No Gift Given field</label>
        <locationX>787</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>CreateGiftOn2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateGiftBackonAfterFail2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gift_Status__c</field>
            <value>
                <stringValue>No Gift Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_No_Gift_Given__c</field>
            <value>
                <elementReference>Reason_No_Gift_Given</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>AddGift</name>
        <label>AddGift</label>
        <locationX>357</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateGiftoff</targetReference>
        </connector>
        <fields>
            <name>Gift_Name</name>
            <dataType>String</dataType>
            <fieldText>Gift Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gift_description</name>
            <dataType>String</dataType>
            <fieldText>Gift description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Multi_Deal_Gift</name>
            <dataType>Boolean</dataType>
            <fieldText>Multi Deal Gift</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Sent</name>
            <dataType>Date</dataType>
            <fieldText>Date Sent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gift_Value</name>
            <dataType>Number</dataType>
            <fieldText>Gift Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>11</scale>
        </fields>
        <fields>
            <name>Currency</name>
            <choiceReferences>CurrencyChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AddGiftErrorMessage</name>
        <label>AddGiftErrorMessage</label>
        <locationX>913</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddGiftError</name>
            <fieldText>{!DeleteGiftError}

{!$Flow.FaultMessage}

Please close this window and make any changes required to the Deal record before continuing with this action.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DeleteErrorMessage</name>
        <label>DeleteErrorMessage</label>
        <locationX>722</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeleteGiftErrorScreen</name>
            <fieldText>{!DeleteGiftError}

There are no gifts to delete from this Deal, please close the window.

{!$Flow.FaultMessage}

Please close this window and make any changes required to the Deal record before continuing with this action.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>1087</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>You have successfully added a new gift.
Click &quot;Previous&quot; to add another gift or close this window to exit.
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen2</name>
        <label>Exit Screen2</label>
        <locationX>1165</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoGiftGivenSuccess</name>
            <fieldText>You have successfully updated the &quot;Reason No Gift Given&quot; field on the Deal, please now close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen3</name>
        <label>Exit Screen3</label>
        <locationX>960</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GiftDeletedSuccessfully</name>
            <fieldText>You have successfully deleted the selected gifts from this Deal.
Please now close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Gifts_Given_Error</name>
        <label>No Gifts Given Error</label>
        <locationX>973</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoGiftsGivenErrorMessage</name>
            <fieldText>{!DeleteGiftError}

{!$Flow.FaultMessage}

Please close this window and make any changes required to the Deal record before continuing with this action.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoGiftGivenEntry</name>
        <label>NoGiftGivenEntry</label>
        <locationX>433</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateGiftOff2</targetReference>
        </connector>
        <fields>
            <name>Reason_No_Gift_Given</name>
            <dataType>String</dataType>
            <fieldText>Reason No Gift Given</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectGiftstoDelete</name>
        <label>SelectGiftstoDelete</label>
        <locationX>232</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateGiftOfftoRemoveGift</targetReference>
        </connector>
        <fields>
            <name>SelectedGifts</name>
            <choiceReferences>SelectGifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SelectedGifts</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>20</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GiftGivenDecision</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>CreateGift</choiceReferences>
            <choiceReferences>NoGiftGiven</choiceReferences>
            <choiceReferences>Remove_Gifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>DeleteGiftError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot;&gt;
&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;
&lt;/FONT&gt; 
&lt;P&gt;Your admin has received an email about this error.&lt;/P&gt;</text>
    </textTemplates>
    <variables>
        <name>Dealid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GiftIdsToDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
