force-app/main/default/flows/Cancel_HFS_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Error_message</name>
        <label>Assign Error message</label>
        <locationX>350</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Cancel HFS Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel HFS Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_HFS_Job</name>
        <label>Update HFS Job</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Job_are_you_sure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>HFS_Job__c</object>
    </recordUpdates>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>176</locationX>
        <locationY>361</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_message</name>
            <fieldText>&lt;p&gt;{!ResultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Update_HFS_Job</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The HFS Job was cancelled with success.</stringValue>
        </value>
    </variables>
</Flow>
