force-app/main/default/flows/Clone_List_Button_Marketing_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>clone_Activity_Action</name>
        <label>clone Activity Action</label>
        <locationX>401</locationX>
        <locationY>519</locationY>
        <actionName>CloneActivityLightningMigrationFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen01</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listIdActvi</name>
            <value>
                <elementReference>selectRecordsSelect</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Empty_result</name>
        <label>Empty result</label>
        <locationX>676</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>resultText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select at least one Marketing Activity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>729</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>resultText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Greater_Than_5_Result</name>
        <label>Greater Than 5 Result</label>
        <locationX>626</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>resultText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can only clone up to 5 records at a time.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Count_Assignment</name>
        <label>Record Count Assignment</label>
        <locationX>165</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>CountRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectRecordsSelect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Records_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Records_Selected</name>
        <label>Verify Records Selected</label>
        <locationX>391</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>clone_Activity_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_result</targetReference>
            </connector>
            <label>If is Empty</label>
        </rules>
        <rules>
            <name>If_Is_Greater_Than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greater_Than_5_Result</targetReference>
            </connector>
            <label>If Is Greater Than 5</label>
        </rules>
    </decisions>
    <interviewLabel>Clone List Button Marketing Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone List Button Marketing Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen01</name>
        <label>Screen01</label>
        <locationX>943</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>result_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!resultText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Record_Count_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>CountRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>resultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Record(s) have been Cloned.</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectRecordsSelect</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Activity__c</objectType>
    </variables>
</Flow>
