force-app/main/default/flows/KPI_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>606</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Number_of_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Units_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units_Sold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Footfall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Footfall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Tax_Free_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Free_Transitions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Tax_Free_Sales_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Free_Sales_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.VIP_Cards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_Cards</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.NET_Value_of_Discounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NET_Values_of_Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Total_NET_SALES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_NET_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Full_Price_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Season_Bestsellers_Sales2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Full_Price_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Season_Best_Seller_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Discretionary_Discount_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Curated_Selection_Sales2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Discretionary_Discount_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Curated_Selection_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Remote_Sales2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Remote_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Remote_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Private_Appointment_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Private_Appointment_Units2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Private_Appointment_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Store_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Ignore_Validations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ignore_Validations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Reported_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_NET_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Reported_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NET_Values_of_Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Valid_for_Confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Covers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Covers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Event_Footfall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Event_Footfall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Event_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Event_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Event_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Event_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Event_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Event_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Pop_up_Boutique_Footfall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pop_up_Boutique_Footfall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Pop_up_Boutique_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pop_up_Boutique_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Pop_up_Boutique_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pop_up_Boutique_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Pop_up_Boutique_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pop_up_Boutique_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store_Closed</name>
        <label>Assign Store Closed</label>
        <locationX>1118</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Store_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Number_of_Transactions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Covers__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Units_Sold__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Footfall__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Tax_Free_Transactions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Tax_Free_Sales_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.VIP_Cards__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.NET_Value_of_Discounts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Total_NET_SALES__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Full_Price_Sales__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Full_Price_Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Discretionary_Discount_Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Discretionary_Discount_Sales__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Sales__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Remote_Transactions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Sales__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Private_Appointment_Transactions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Daily_Sales.Brand_Reported_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Sale</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NullValueString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Store_Close_Or_Not</name>
        <label>Store Close Or Not</label>
        <locationX>599</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Store_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Store_Closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Store_Closed</targetReference>
            </connector>
            <label>If Store Closed</label>
        </rules>
        <rules>
            <name>If_Store_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Store_Closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_KPI</targetReference>
            </connector>
            <label>If Store Open</label>
        </rules>
    </decisions>
    <description>171</description>
    <interviewLabel>KPI Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KPI Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Daily_Sales</name>
        <label>Get Daily Sales</label>
        <locationX>184</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_All_Figures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Sale__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Sale</name>
        <label>Update Daily Sale</label>
        <locationX>1117</locationX>
        <locationY>626</locationY>
        <inputReference>Get_Daily_Sales</inputReference>
    </recordUpdates>
    <screens>
        <name>Additional_KPI</name>
        <label>{!$Label.KPIFlow_Header}</label>
        <locationX>606</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Values</targetReference>
        </connector>
        <fields>
            <name>LockedInfo</name>
            <fieldText>&lt;p&gt;Brand Name&lt;/p&gt;&lt;p&gt;{!Get_Daily_Sales.Store__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.KPIFlow_Label_Trading_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Daily_Sales.Trading_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.KPIFlow_Label_Total_NET_Sales}&lt;/p&gt;&lt;p&gt;{!Total_NET_Sales}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.KPIFlow_Label_Units_Sold}&lt;/p&gt;&lt;p&gt;{!Units_Sold}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.KPIFlow_Label_Num_Transactions}&lt;/p&gt;&lt;p&gt;{!Number_of_Transactions}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Season_Best_Seller_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Full_Price_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_CSBsUnits}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Current_Season_Units}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_CSB_Higher_Total_Units}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Current_Season_Best_Seller_Units} &lt;= {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Current_Season_Bestsellers_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Current_Season_Bestsellers_Sales2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Full_Price_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_CSBsSales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Current_Season_Sales}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_CSB_Higher_Total_NET_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Current_Season_Bestsellers_Sales2} &lt;= {!Total_NET_Sales}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Current_Season_Bestsellers_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Special_Curated_Selection_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Discretionary_Discount_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_SCSUnits}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Special_Curated_Units}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_SCS_Higher_Total_Units}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Special_Curated_Selection_Units} &lt;= {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Special_Curated_Selection_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Special_Curated_Selection_Sales2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Discretionary_Discount_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_SCSSales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Special_Curated_Sales}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_SCS_Higher_Total_Net_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Special_Curated_Selection_Sales2} &lt;= {!Total_NET_Sales}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Special_Curated_Selection_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Remote_Transactions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Remote_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BVSTrans}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Brand_Virtual_Shopping_Transactions}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Virtual_Sales_Higher_Transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Remote_Transactions} &lt;= {!Number_of_Transactions}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Remote_Sales_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Remote_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Remote_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BVSUnits}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Brand_Virtual_Shopping_Units}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Virtual_Sales_Higher_Total_Units}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Remote_Units} &lt;= {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Remote_Sales_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Remote_Sales2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Remote_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BVSSales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Brand_Virtual_Shopping_Sales}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Virtual_Sales_Higher_Total_Net_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Remote_Sales2} &lt;= {!Total_NET_Sales}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Remote_Sales_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Private_Appointment_Transactions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Private_Appointment_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BPATransactions}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.KPIFlow_HelpText_Brand_Private_Appointment_transactions}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Priv_App_Sales_Higher_Transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Private_Appointment_Transactions} &lt;= {!Number_of_Transactions}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Private_Appointment_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Private_Appointment_Units2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Private_Appointment_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BPAUnits}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.KPIFlow_HelpText_Brand_Private_Appointment_Units}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Priv_App_Sales_Higher_Total_Units}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Private_Appointment_Units2} &lt;= {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Private_Appointment_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Private_Appointment_Sales</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Private_Appointment_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_BPASales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Brand_Private_Appointment_Sales}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Priv_App_Sales_Higher_Total_Net_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Private_Appointment_Sales} &lt;= {!Total_NET_Sales}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Brand_Private_Appointment_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Event_Transactions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Event_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Brand_Event_Transactions}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Brand_Event_TransactionsHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Transactions_cannot_be_higher_than_the_total_Transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Event_Transactions} &lt; {!Number_of_Transactions}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Brand_Event_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Event_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Event_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Brand_Event_Units}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Brand_Event_UnitsHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Units_cannot_be_higher_than_the_total_Units_Sold}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Event_Units} &lt; {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Brand_Event_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Event_Footfall</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Event_Footfall__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Brand_Event_Footfall}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Brand_Event_FootfallHelpText}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Footfall_cannot_be_higher_than_the_total_Units_Sold_for_the_day}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Brand_Event_Footfall} &lt; {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Brand_Event_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Event_Sales</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Event_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Brand_Event_Sales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Brand_Event_SalesHelpText}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Sales_cannot_be_higher_than_the_Total_Net_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>OR( {!Brand_Event_Sales} &lt; {!Total_NET_Sales}, {!Brand_Event_Sales} &lt; 0 )</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Brand_Event_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pop_up_Boutique_Transactions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Pop_up_Boutique_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Pop_up_Boutique_Transaction}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Pop_up_Boutique_TransactionHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Transactions_cannot_be_higher_than_the_total_Transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pop_up_Boutique_Transactions} &lt; {!Number_of_Transactions}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Pop_Up_Boutique_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pop_up_Boutique_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Pop_up_Boutique_Units__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Pop_up_Boutique_Units}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Pop_up_Boutique_UnitsHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Units_cannot_be_higher_than_the_total_Units_Sold}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pop_up_Boutique_Units} &lt; {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Pop_Up_Boutique_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pop_up_Boutique_Footfall</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Pop_up_Boutique_Footfall__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Pop_Up_Boutique_Footfall}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Pop_Up_Boutique_FootfallHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Footfall_cannot_be_higher_than_the_total_Units_Sold_for_the_day}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Pop_up_Boutique_Footfall} &lt; {!Units_Sold}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Pop_Up_Boutique_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pop_up_Boutique_Sales</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Pop_up_Boutique_Sales__c</elementReference>
            </defaultValue>
            <fieldText>{!$label.KPIFlow_Pop_up_Boutique_Sales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_Pop_up_Boutique_SalesHelptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Sales_cannot_be_higher_than_the_Total_Net_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>OR( {!Pop_up_Boutique_Sales} &lt; {!Total_NET_Sales}, {!Pop_up_Boutique_Sales} &lt; 0 )</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.Is_Pop_Up_Boutique_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_All_Figures</name>
        <label>{!$Label.KPIFlow_Header}</label>
        <locationX>381</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Close_Or_Not</targetReference>
        </connector>
        <fields>
            <name>DisplayCompInfo</name>
            <fieldText>&lt;p&gt;Brand Name&lt;/p&gt;&lt;p&gt;{!Get_Daily_Sales.Store__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.KPIFlow_Label_Trading_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Daily_Sales.Trading_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Store_Closed</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.KPIFlow_Label_Store_Closed}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.KPIFlow_HelpText_Store_Closed}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Transactions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Number_of_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Num_Transactions}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Number_Transactions}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Covers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Covers__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Covers}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Covers_Less_Transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Number_of_Transactions} &lt;= {!Covers}  ) || {!Ignore_Validations} || ISBLANK({!Number_of_Transactions})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.F_B_Covers_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Units_Sold</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Units_Sold__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Units_Sold}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Units_Sold}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Number_of_units_must_be_gtr_than_transac}&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Number_of_Transactions} &lt;= {!Units_Sold}) || {!Ignore_Validations} || ISBLANK({!Number_of_Transactions})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Footfall</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Footfall__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Footfall}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Footfall}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_footfall_must_be_gtr_than_transactions}&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(   AND( {!Number_of_Transactions} &gt; {!Footfall}, {!Ignore_Validations} ),
 {!Number_of_Transactions} &lt;= {!Footfall},
AND( {!Footfall} = 0,  {!Ignore_Validations} ) ,  {!Number_of_Transactions}  &lt;  {!Footfall}
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tax_Free_Transitions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Tax_Free_Transactions__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Tax_Free_Transaction}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Tax_Free_Trans}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Reported_transactions_gtr_than_tax_trans}&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Tax_Free_Transitions} &lt;= {!Number_of_Transactions})  || {!Ignore_Validations} || ISBLANK({!Number_of_Transactions})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.F_B_Covers_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tax_Free_Sales_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Tax_Free_Sales_Amount__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Tax_Free_Sales_Amount}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Tax_Free_Sales_Amount}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Daily_Sales.F_B_Covers_Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VIP_Cards</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.VIP_Cards__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_VIPCards}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_VIP_Cards}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_No_of_VIPs_gtr_than_no_of_transactions}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.KPIFlow_No_of_VIPs_gtr_than_no_of_units_sold}&lt;/p&gt;</errorMessage>
                <formulaExpression>({!VIP_Cards} &lt;= {!Number_of_Transactions}) &amp;&amp; ({!VIP_Cards} &lt;= {!Units_Sold})  || {!Ignore_Validations} || ISBLANK({!Number_of_Transactions})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NET_Values_of_Discount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.NET_Value_of_Discounts__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_NET_Value_of_Discounts}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_NET_Value_Discounts}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Total_net_sales_too_high}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.KPIFlow_Net_Val_of_Discounts_greater_than_Sales}&lt;/p&gt;</errorMessage>
                <formulaExpression>(({!NET_Values_of_Discount} &lt;= 99999)&amp;&amp;({!Total_NET_Sales}+{!NET_Values_of_Discount} &lt;= 99999)&amp;&amp;{!Total_NET_Sales}&gt;={!NET_Values_of_Discount}||{!Ignore_Validations})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Total_NET_Sales</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Total_NET_SALES__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Total_NET_Sales}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Total_NET_Sales}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_No_of_transactions_not_gtr_NET_Sales}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.KPIFlow_Total_net_sales_too_high}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Total_NET_Sales} &gt;= {!Number_of_Transactions} &amp;&amp; {!Total_NET_Sales} &lt;= 99999) ||
{!Ignore_Validations} ||
(ISBLANK({!Number_of_Transactions}) &amp;&amp; {!Total_NET_Sales} &lt;= 99999) ||
(NOT(ISBLANK({!NET_Values_of_Discount})) &amp;&amp; {!NET_Values_of_Discount} + {!Total_NET_Sales} &lt;= 99999)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brand_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Daily_Sales.Brand_Note__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.KPIFlow_Label_Brand_Notes}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Brand_Note}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ignore_Validations</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.KPIFlow_Label_Ignore_Validations}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.KPIFlow_HelpText_Ignore_Validations}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.KPIFlow_Ignore_Without_Notes}&lt;/p&gt;</errorMessage>
                <formulaExpression>(NOT(ISBLANK({!Brand_Notes})) &amp;&amp;{!Ignore_Validations}) || NOT({!Ignore_Validations})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StoreClosedMessage</name>
            <fieldText>&lt;p&gt;{!$Label.KPIFlow_Store_Closed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Store_Closed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Daily_Sales</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
