force-app/main/default/flows/Marketing_Activity_Clone_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DeBracketPicklists</name>
        <label>DeBracketPicklists</label>
        <locationX>685</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>Original_Source_Market</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BRLSourceMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Original_Audience_category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BRLAudienceCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Original_Segmentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BRLSegmentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Original_customer_Dimension</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BRLCustomerDimension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Original_Sub_category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BRLSubcategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_Marketing_Activity</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>BRLAudienceCategory</name>
        <dataType>String</dataType>
        <expression>TRIM(
         SUBSTITUTE( 
              SUBSTITUTE(
                        {!Original_Audience_category},
                           &quot;[&quot;,&quot;&quot;),
                     &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>BRLCustomerDimension</name>
        <dataType>String</dataType>
        <expression>TRIM(
    
     SUBSTITUTE( 
    
          SUBSTITUTE(
              
          {!Original_customer_Dimension},
       
         &quot;[&quot;,&quot;&quot;),
   
     &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>BRLSegmentation</name>
        <dataType>String</dataType>
        <expression>TRIM(
    
     SUBSTITUTE( 
    
          SUBSTITUTE(
              
          {!Original_Segmentation},
       
         &quot;[&quot;,&quot;&quot;),
   
     &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>BRLSourceMarket</name>
        <dataType>String</dataType>
        <expression>TRIM(
         SUBSTITUTE( 
              SUBSTITUTE(
                        {!Original_Source_Market},
                           &quot;[&quot;,&quot;&quot;),
                     &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>BRLSubcategory</name>
        <dataType>String</dataType>
        <expression>TRIM(
    
     SUBSTITUTE( 
    
          SUBSTITUTE(
              
          {!Original_Sub_category},
       
         &quot;[&quot;,&quot;&quot;),
   
     &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Marketing Activity Clone Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Activity Clone Final</label>
    <loops>
        <name>LoopThroughPB_s</name>
        <label>LoopThroughPB&apos;s</label>
        <locationX>611</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>PBLoopVar</assignNextValueToReference>
        <collectionReference>PBsToLoopThrough</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_PB_For_Clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplayPBs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clone_Marketing_Activity</name>
        <label>Create_Clone_Marketing_Activity</label>
        <locationX>897</locationX>
        <locationY>26</locationY>
        <assignRecordIdToReference>CloneMarketingActivityID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_PB_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Accountable1__c</field>
            <value>
                <elementReference>Original_Accountable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Cost__c</field>
            <value>
                <elementReference>Original_Activity_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_spend__c</field>
            <value>
                <elementReference>Original_Actual_Spend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apollo_Assets_Links__c</field>
            <value>
                <elementReference>Original_Apollo_Assets_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audience_Category__c</field>
            <value>
                <elementReference>Original_Audience_category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audience__c</field>
            <value>
                <elementReference>Original_Audience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Product_Opportunity__c</field>
            <value>
                <elementReference>Original_Brand_Product_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Original_Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Original_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Original_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Plan__c</field>
            <value>
                <elementReference>Original_Communication_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consulted__c</field>
            <value>
                <elementReference>Original_Consulted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Dimension__c</field>
            <value>
                <elementReference>Original_customer_Dimension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_Comments__c</field>
            <value>
                <elementReference>Original_Details_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Type__c</field>
            <value>
                <elementReference>Original_Email_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Original_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Average_Spend__c</field>
            <value>
                <elementReference>Original_Expected_Average_Spend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Footfall__c</field>
            <value>
                <elementReference>Original_expected_Footfall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_New_Members__c</field>
            <value>
                <elementReference>Original_Expected_New_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Sales__c</field>
            <value>
                <elementReference>Original_Expected_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>Original_Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hero_message__c</field>
            <value>
                <elementReference>Original_Hero_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informed__c</field>
            <value>
                <elementReference>Original_Informed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_mandatories_and_other_reference__c</field>
            <value>
                <elementReference>Original_Legal_Mandatories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>Original_Marketing_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measurement_Description__c</field>
            <value>
                <elementReference>Original_Measurement_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>Original_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Please_Enter_the_New_Name_of_Your_Marketing_Actvitity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Original_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_ID__c</field>
            <value>
                <elementReference>Original_Offer_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Notes__c</field>
            <value>
                <elementReference>Original_Other_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Campaign_Name__c</field>
            <value>
                <elementReference>Original_Parent_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Contact__c</field>
            <value>
                <elementReference>Original_Partner_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Name__c</field>
            <value>
                <elementReference>Original_Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Original_Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Send_Date__c</field>
            <value>
                <elementReference>Original_Planned_Send_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Messages__c</field>
            <value>
                <elementReference>Original_Promo_Messages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reach__c</field>
            <value>
                <elementReference>Original_Reach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Original_Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Description__c</field>
            <value>
                <elementReference>Original_Response_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_Person__c</field>
            <value>
                <elementReference>Original_Responsible_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segmentation__c</field>
            <value>
                <elementReference>Original_Segmentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Market__c</field>
            <value>
                <elementReference>Original_Source_Market</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Split_Type__c</field>
            <value>
                <elementReference>Original_Split_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Original_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Original_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <elementReference>Original_Sub_category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Channel_Type__c</field>
            <value>
                <elementReference>Original_Sub_Channel_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <elementReference>Original_Sub_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Line__c</field>
            <value>
                <elementReference>Original_Subject_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template__c</field>
            <value>
                <elementReference>Original_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Average_Spend__c</field>
            <value>
                <elementReference>Original_Tracked_Average_Spend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Footfall__c</field>
            <value>
                <elementReference>Original_Tracked_Footfall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_New_Members__c</field>
            <value>
                <elementReference>Original_Tracked_New_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Sales__c</field>
            <value>
                <elementReference>Original_Tracked_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VR_Rep_Office__c</field>
            <value>
                <elementReference>Original_VR_Rep_Office</elementReference>
            </value>
        </inputAssignments>
        <object>Marketing_Activity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_PB_For_Clone</name>
        <label>Create New PB For Clone</label>
        <locationX>722</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>LoopThroughPB_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Feature_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Activity__c</field>
            <value>
                <elementReference>CloneMarketingActivityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Marketing_Contact__c</field>
            <value>
                <elementReference>PBLoopVar.Primary_Marketing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Presence__c</field>
            <value>
                <elementReference>PBLoopVar.Village_Presence__c</elementReference>
            </value>
        </inputAssignments>
        <object>Participating_Brand__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_PB_s</name>
        <label>Lookup_PB_s</label>
        <locationX>898</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughPB_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAIdincoming</elementReference>
            </value>
        </filters>
        <object>Participating_Brand__c</object>
        <outputReference>PBsToLoopThrough</outputReference>
        <queriedFields>Marketing_Activity__c</queriedFields>
        <queriedFields>Feature_Details__c</queriedFields>
        <queriedFields>Primary_Marketing_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Village_Presence__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>MALookup</name>
        <label>MALookup</label>
        <locationX>546</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeBracketPicklists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAIdincoming</elementReference>
            </value>
        </filters>
        <object>Marketing_Activity__c</object>
        <outputAssignments>
            <assignToReference>Original_Accountable</assignToReference>
            <field>Accountable1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Activity_Cost</assignToReference>
            <field>Activity_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Actual_Spend</assignToReference>
            <field>Actual_spend__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Apollo_Assets_Link</assignToReference>
            <field>Apollo_Assets_Links__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Audience_category</assignToReference>
            <field>Audience_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Audience</assignToReference>
            <field>Audience__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Brand_Product_Opportunity</assignToReference>
            <field>Brand_Product_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Budget</assignToReference>
            <field>Budget__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Category</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Channel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Communication_Plan</assignToReference>
            <field>Communication_Plan__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Consulted</assignToReference>
            <field>Consulted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_customer_Dimension</assignToReference>
            <field>Customer_Dimension__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Details_Comments</assignToReference>
            <field>Details_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Email_Type</assignToReference>
            <field>Email_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_End_Date</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Expected_Average_Spend</assignToReference>
            <field>Expected_Average_Spend__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_expected_Footfall</assignToReference>
            <field>Expected_Footfall__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Expected_New_Members</assignToReference>
            <field>Expected_New_Members__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Expected_Sales</assignToReference>
            <field>Expected_Sales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Function</assignToReference>
            <field>Function__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Hero_Message</assignToReference>
            <field>Hero_message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Informed</assignToReference>
            <field>Informed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Legal_Mandatories</assignToReference>
            <field>Legal_mandatories_and_other_reference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Marketing_Campaign</assignToReference>
            <field>Marketing_Campaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Measurement_Description</assignToReference>
            <field>Measurement_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Message</assignToReference>
            <field>Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Objective</assignToReference>
            <field>Objective__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Offer_ID</assignToReference>
            <field>Offer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Old_Redemption_Campaign</assignToReference>
            <field>Old_Redemption_Campaign_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Other_Notes</assignToReference>
            <field>Other_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Parent_Campaign</assignToReference>
            <field>Parent_Campaign_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Partner_Contact</assignToReference>
            <field>Partner_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Partner_Name</assignToReference>
            <field>Partner_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Partner</assignToReference>
            <field>Partner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Planned_Send_Date</assignToReference>
            <field>Planned_Send_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Promo_Messages</assignToReference>
            <field>Promo_Messages__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Reach</assignToReference>
            <field>Reach__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Record_Type_ID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Response_Description</assignToReference>
            <field>Response_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Responsible_Person</assignToReference>
            <field>Responsible_Person__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Segmentation</assignToReference>
            <field>Segmentation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Source_Market</assignToReference>
            <field>Source_Market__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Split_Type</assignToReference>
            <field>Split_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Start_Date</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Sub_category</assignToReference>
            <field>Sub_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Sub_Channel_Type</assignToReference>
            <field>Sub_Channel_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Sub_Channel</assignToReference>
            <field>Sub_Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Subject_Line</assignToReference>
            <field>Subject_Line__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Template</assignToReference>
            <field>Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Tracked_Average_Spend</assignToReference>
            <field>Tracked_Average_Spend__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Tracked_Footfall</assignToReference>
            <field>Tracked_Footfall__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Tracked_New_Members</assignToReference>
            <field>Tracked_New_Members__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_Tracked_Sales</assignToReference>
            <field>Tracked_Sales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Original_VR_Rep_Office</assignToReference>
            <field>VR_Rep_Office__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DisplayPBs</name>
        <label>DisplayPBs</label>
        <locationX>363</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayPBRecordsRetrieved</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have successfully cloned the Marketing Activity and any associated Participating Brands.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please ensure you make the necessary changes to the new clone (Dates, Marketing Campaign etc) after you have finished.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please now click Finish.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>405</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MALookup</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You are about to clone this Marketing Activity and all the Participating Brands associated to it.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Participating Brands will all be set to &amp;quot;Target&amp;quot; and require that you manually edit them.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Enter_the_New_Name_of_Your_Marketing_Actvitity</name>
            <defaultValue>
                <stringValue>{!OrigName}</stringValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please Enter the New Name of your Marketing Activity&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter a name less than 80 charaacters long</errorMessage>
                <formulaExpression>LEN({!Please_Enter_the_New_Name_of_Your_Marketing_Actvitity}) &lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;By Clicking &amp;quot;Next&amp;quot; you acknowledge that you will be creating a new, cloned Marketing Activity with a new set of Participating Brands.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You are requested to edit the new clone immediately upon its creation.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneMarketingActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MAIdincoming</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MAIDtopass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Accountable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Activity_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Actual_Spend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Apollo_Assets_Link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Audience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Audience_category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Brand_Product_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Budget</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Communication_Plan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Original_Consulted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_customer_Dimension</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Details_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Email_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Expected_Average_Spend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_expected_Footfall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Expected_New_Members</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Expected_Sales</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Function</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Hero_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Informed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Legal_Mandatories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Marketing_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Measurement_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Objective</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Offer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Old_Redemption_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Other_Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Parent_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Partner_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Partner_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_PB_Feature_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_PB_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_PB_Marketing_Activity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_PB_Primary_Marketing_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_PB_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Planned_Send_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Promo_Messages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Reach</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Response_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Responsible_Person</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Segmentation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Source_Market</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Split_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Sub_category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Sub_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Sub_Channel_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Subject_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Original_Tracked_Average_Spend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Tracked_Footfall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Tracked_New_Members</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_Tracked_Sales</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_VR_Rep_Office</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrigName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PBLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participating_Brand__c</objectType>
    </variables>
    <variables>
        <name>PBsToLoopThrough</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participating_Brand__c</objectType>
    </variables>
</Flow>
