force-app/main/default/flows/Master_Budget_Sheet_Send_Email_Agency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Agency</name>
        <label>Send Email Agency</label>
        <locationX>638</locationX>
        <locationY>421</locationY>
        <actionName>MasterBudgetSheetSendEmailAgencyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Output_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inMasterBudgetSheetList</name>
            <value>
                <elementReference>Master_Budget_Sheet_Obj</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>417</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>You must select at least one user on the Creative Agency fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>891</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Emails sent successfully</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Output_Message</name>
        <label>Check Output Message</label>
        <locationX>630</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>Output_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Output Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Third_Party_Users</name>
        <label>Check Third Party Users</label>
        <locationX>404</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Third_Party_Users</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_7__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Master_Budget_Sheet_Obj.Creative_Agency_8__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Agency</targetReference>
            </connector>
            <label>Third Party Users</label>
        </rules>
    </decisions>
    <interviewLabel>Master Budget Sheet Send Email Agency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master Budget Sheet Send Email Agency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_Master_Budget_Sheet</name>
        <label>Retrieve Master Budget Sheet</label>
        <locationX>412</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Third_Party_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Master_Budget_Sheet__c</object>
        <outputReference>Master_Budget_Sheet_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Creative_Agency_1__c</queriedFields>
        <queriedFields>Creative_Agency_2__c</queriedFields>
        <queriedFields>Creative_Agency_3__c</queriedFields>
        <queriedFields>Creative_Agency_4__c</queriedFields>
        <queriedFields>Creative_Agency_5__c</queriedFields>
        <queriedFields>Creative_Agency_6__c</queriedFields>
        <queriedFields>Creative_Agency_7__c</queriedFields>
        <queriedFields>Creative_Agency_8__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>641</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageFinal</name>
            <fieldText>&lt;p&gt;{!message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Retrieve_Master_Budget_Sheet</startElementReference>
    <status>Active</status>
    <variables>
        <name>Master_Budget_Sheet_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Budget_Sheet__c</objectType>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
