force-app/main/default/flows/Notify_Retail_Manager_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Reloaction</name>
        <label>Send Email to Retail Manager (Relocation)</label>
        <locationX>386</locationX>
        <locationY>306</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBARelocation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Revenue Analysis for {!VillagePresence}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RetailManagerEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Retail_Manager</name>
        <label>Send Email to Retail Manager (New Deal)</label>
        <locationX>678</locationX>
        <locationY>98</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Revenue Analysis for {!VillagePresence}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RetailManagerEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Deal_Type_decision</name>
        <label>Deal Type decision</label>
        <locationX>377</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Reloaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DealType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Retail_Manager</targetReference>
            </connector>
            <label>New Brand</label>
        </rules>
    </decisions>
    <description>Creates a task and emails the retail mgr 372 days after the Village PResence/brand starts trading in a village</description>
    <formulas>
        <name>FollowUpDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Notify Retail Manager Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Retail Manager Final</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>121</locationX>
        <locationY>102</locationY>
        <assignRecordIdToReference>TaskCreatedId</assignRecordIdToReference>
        <connector>
            <targetReference>Deal_Type_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowUpDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RetailManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012b00000005M1i</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BCAP Post Implementation Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VillagePresenceId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>CreateTask</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailBARelocation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!RetailManager},

It has been 1 year since {!VillagePresence} relocated. 
A task has been created for you to perform the BCAP Post Implementation Review.

https://valueretail.my.salesforce.com/{!TaskCreatedId}

Kind regards
Leaseflow</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!RetailManager},

It has been 1 year since {!VillagePresence} started trading.
A task has been created for you to perform the BCAP Post Implementation Review.

https://valueretail.my.salesforce.com/{!TaskCreatedId}

Kind regards
Leaseflow</text>
    </textTemplates>
    <variables>
        <name>DealType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetailManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetailManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetailManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskCreatedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VillagePresence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VillagePresenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
