force-app/main/default/flows/Reset_VP_Deals_to_not_primary_deals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Reset_VP_Deals_to_not_primary_deals-3 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Reset_VP_Deals_to_not_primary_deals-3, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>iwomack@valueretail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Reset_VP_Deals_to_not_primary_deals-3 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Reset_VP_Deals_to_not_primary_deals-3, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>iwomack@valueretail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sobjectInputCheckDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Just Run</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>resets all Deals that belong to the VP - invoked</description>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Reset_VP_Deals_to_not_primary_deals-3_Village_Presence__c</interviewLabel>
    <label>Reset VP Deals to not primary deals</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Village_Presence__c</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Village_Presence__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <queriedFields>LastViewedDate</queriedFields>
        <queriedFields>LastReferencedDate</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Village__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Retail_Manager__c</queriedFields>
        <queriedFields>Other_Villages__c</queriedFields>
        <queriedFields>Email_Marketing__c</queriedFields>
        <queriedFields>Marketing_Approval_End_Date__c</queriedFields>
        <queriedFields>Marketing_Approval_Start_Date__c</queriedFields>
        <queriedFields>Marketing_Manager__c</queriedFields>
        <queriedFields>Social_Marketing__c</queriedFields>
        <queriedFields>Website_Marketing__c</queriedFields>
        <queriedFields>Approval_Comments__c</queriedFields>
        <queriedFields>Actual_Exit_Date__c</queriedFields>
        <queriedFields>Contract_Expiry_Date__c</queriedFields>
        <queriedFields>Contract_Tenant_Break_Date__c</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>Deal_Type__c</queriedFields>
        <queriedFields>Deal_in_Progress__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>EU_Brand_Captain__c</queriedFields>
        <queriedFields>Exit_Deal__c</queriedFields>
        <queriedFields>Expected_Exit_Date__c</queriedFields>
        <queriedFields>Expected_Open_Date__c</queriedFields>
        <queriedFields>Expected_Unit__c</queriedFields>
        <queriedFields>FX_Rate__c</queriedFields>
        <queriedFields>Income_Rating__c</queriedFields>
        <queriedFields>Initial_Opened_Date__c</queriedFields>
        <queriedFields>Latest_Review_Deal__c</queriedFields>
        <queriedFields>Lease_ID__c</queriedFields>
        <queriedFields>Lease_Type__c</queriedFields>
        <queriedFields>Move_Out_Date__c</queriedFields>
        <queriedFields>New_Deal__c</queriedFields>
        <queriedFields>Newness_Date__c</queriedFields>
        <queriedFields>Planned_Open_Date__c</queriedFields>
        <queriedFields>Position_Rating__c</queriedFields>
        <queriedFields>Projected_Income_Local__c</queriedFields>
        <queriedFields>Projected_Income_Yield_Local__c</queriedFields>
        <queriedFields>Projected_Income_Yield__c</queriedFields>
        <queriedFields>Projected_Income__c</queriedFields>
        <queriedFields>Projected_Return_Local__c</queriedFields>
        <queriedFields>Projected_Sales_Local__c</queriedFields>
        <queriedFields>Projected_Sales_Yield_Local_Converted__c</queriedFields>
        <queriedFields>Projected_Sales_Yield_Local__c</queriedFields>
        <queriedFields>Projected_Sales__c</queriedFields>
        <queriedFields>Projected_Yield__c</queriedFields>
        <queriedFields>Sales_Rating__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Strategy__c</queriedFields>
        <queriedFields>Total_Rating__c</queriedFields>
        <queriedFields>Tourism_Rating__c</queriedFields>
        <queriedFields>Unit_Size__c</queriedFields>
        <queriedFields>Age_of_Shop_Fit_Years__c</queriedFields>
        <queriedFields>Last_Remerchandising_Date__c</queriedFields>
        <queriedFields>Matures_to_Standard_On__c</queriedFields>
        <queriedFields>Standard_Terms__c</queriedFields>
        <queriedFields>Store_email__c</queriedFields>
        <queriedFields>My_Village_Presence__c</queriedFields>
        <queriedFields>Daily_Sales_Active__c</queriedFields>
        <queriedFields>Actions_Planned__c</queriedFields>
        <queriedFields>Strategy_Detail__c</queriedFields>
        <queriedFields>Turnover_Rent__c</queriedFields>
        <queriedFields>Daily_Sale_Record_Type_Override__c</queriedFields>
        <queriedFields>Coniq_Days_Review_Overdue__c</queriedFields>
        <queriedFields>Coniq_Days_Since_Last_Review__c</queriedFields>
        <queriedFields>Coniq_Days_till_Next_Review__c</queriedFields>
        <queriedFields>Coniq_Last_Review_Date__c</queriedFields>
        <queriedFields>Coniq_Next_Review_Date__c</queriedFields>
        <queriedFields>Coniq_No_of_Actual_Scanners__c</queriedFields>
        <queriedFields>Coniq_No_of_Planned_Scanners__c</queriedFields>
        <queriedFields>Coniq_No_of_Tills__c</queriedFields>
        <queriedFields>Coniq_Review_Alert__c</queriedFields>
        <queriedFields>Coniq_Scanner_ids__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Village_Presence__c].Opportunities__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Reset Primary Deal Flag on related Deals</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Primary Deal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Primary_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Village_Presence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Primary Deal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Primary_Deal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Village_Presence__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
