force-app/main/default/flows/Select_Village_Presence_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigatetoVillagePresenceRecord</name>
        <label>navigatetoVillagePresenceRecord</label>
        <locationX>600</locationX>
        <locationY>318</locationY>
        <actionName>c:NavigateToTheVillagePresenceLc</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>updatefield</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>VilPreId</name>
            <value>
                <elementReference>villagePresenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Select Village Presence to create a new deal for commitment letter</description>
    <interviewLabel>Add Village Presence Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Village Presence Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecord</name>
        <label>getRecord</label>
        <locationX>168</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Commitment_Letter__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updatefield</name>
        <label>updatefield</label>
        <locationX>829</locationX>
        <locationY>323</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_Village_Presence__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Commitment_Letter__c</object>
    </recordUpdates>
    <screens>
        <name>Screen01</name>
        <label>Screen01</label>
        <locationX>380</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigatetoVillagePresenceRecord</targetReference>
        </connector>
        <fields>
            <name>AddVillagePresence</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Add_Village_Presence__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Village Presence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Commitment_Letter__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>villagePresenceId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>villagePresenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
