force-app/main/default/flows/Set_Current_Brand_on_Deal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_one</name>
        <label>add one</label>
        <locationX>434</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>VPcounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cVillagePresence.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountVPs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>how_many_VPs</name>
        <label>how many VPs?</label>
        <locationX>552</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>none</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPcounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Current_Brand_in_Village_to_empty</targetReference>
            </connector>
            <label>none</label>
        </rules>
        <rules>
            <name>One_VP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPcounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Brand_in_Village</targetReference>
            </connector>
            <label>One VP</label>
        </rules>
        <rules>
            <name>More_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPcounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>More than one</label>
        </rules>
    </decisions>
    <interviewLabel>Set Current Brand on Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Current Brand on Deal</label>
    <loops>
        <name>CountVPs</name>
        <label>CountVPs</label>
        <locationX>348</locationX>
        <locationY>257</locationY>
        <assignNextValueToReference>cVillagePresence</assignNextValueToReference>
        <collectionReference>MatchingVillagePresences2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_one</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>how_many_VPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Village_Presences</name>
        <label>Lookup Village Presences</label>
        <locationX>159</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountVPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trading</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Village_Presence__c</object>
        <outputReference>MatchingVillagePresences2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>set_Current_Brand_in_Village_to_empty</name>
        <label>set Current Brand in Village to empty</label>
        <locationX>760</locationX>
        <locationY>274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DealID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Brand_in_Unit__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Brand_in_Village</name>
        <label>Update Current Brand in Village</label>
        <locationX>773</locationX>
        <locationY>162</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DealID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Brand_in_Unit__c</field>
            <value>
                <elementReference>VPid</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Village_Presences</startElementReference>
    <status>Active</status>
    <variables>
        <name>cVillagePresence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Village_Presence__c</objectType>
    </variables>
    <variables>
        <name>DealID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingVillagePresences2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Village_Presence__c</objectType>
    </variables>
    <variables>
        <name>tempChatterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the number of trading VPs located with unit</description>
        <name>VPcounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VPid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0C110000043oFu</stringValue>
        </value>
    </variables>
</Flow>
