force-app/main/default/flows/Set_Brand_Reported_Amount_21.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>1440</locationX>
        <locationY>135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Set_Brand_Reported_Amount-18 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Set_Brand_Reported_Amount-18, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hugo.lambuca.ferreira@everis.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>221</locationX>
        <locationY>719</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Set_Brand_Reported_Amount-18 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Set_Brand_Reported_Amount-18, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hugo.lambuca.ferreira@everis.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_10_A1</name>
        <label>CalculationOfAmounts</label>
        <locationX>1443</locationX>
        <locationY>345</locationY>
        <actionName>CalculationOfAmounts</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>allUpdatedDS</name>
            <value>
                <elementReference>SObject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A2</name>
        <label>CalculationOfAmounts</label>
        <locationX>681</locationX>
        <locationY>655</locationY>
        <actionName>CalculationOfAmounts</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>allUpdatedDS</name>
            <value>
                <elementReference>SObject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A2</name>
        <label>CalculationOfAmounts</label>
        <locationX>990</locationX>
        <locationY>682</locationY>
        <actionName>CalculationOfAmounts</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>allUpdatedDS</name>
            <value>
                <elementReference>SObject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_8_A1</name>
        <label>CalculationOfAmounts</label>
        <locationX>1243</locationX>
        <locationY>345</locationY>
        <actionName>CalculationOfAmounts</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>allUpdatedDS</name>
            <value>
                <elementReference>SObject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>1132</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>347</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.Store_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>RT = GROSS + Store Close = FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>656</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>(1 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.Store_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F_B_Covers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F_B_Covers_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discretionary_Discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discretionary_Discount_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_Discretionary_Discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_Discretionary_Discount_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Historical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>RT = NET/F&amp;B Covers/Full Price + StoreClose = FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>837</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>SObject.Store_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>RT = GROSS + Store Close = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>1104</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>SObject.Store_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F_B_Covers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F_B_Covers_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discretionary_Discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discretionary_Discount_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_Discretionary_Discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full_Price_Discretionary_Discount_NOT_Editable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObject.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Historical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>RT = NET/F&amp;B Covers/Full Price + StoreClose = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>134</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Added new Record Types</description>
    <formulas>
        <name>formula_2_myRule_1_A1_2264283960</name>
        <dataType>Currency</dataType>
        <expression>(({!SObject.Total_Gross_Turnover__c} - {!SObject.Non_VAT_able_Sales__c} ) / {!SObject.VAT_Factor_Hidden__c} ) + 
BLANKVALUE({!SObject.Non_VAT_able_Sales__c} , 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_5_myRule_4_A1_9856766623</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!SObject.NET_Value_of_Discounts__c}, 0) + BLANKVALUE({!SObject.Total_NET_SALES__c} ,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_6_myRule_4_A1_6720721819</name>
        <dataType>Currency</dataType>
        <expression>IF(AND(ISNULL({!SObject.Total_NET_SALES__c}), ISNULL({!SObject.NET_Value_of_Discounts__c}), ISNULL({!SObject.Certified_Amount_NetTotal_Input__c}), ISNULL({!SObject.Certified_Amount_Discount_Input__c})), NULL,
IF(AND(ISNULL({!SObject.Total_NET_SALES__c}), ISNULL({!SObject.Certified_Amount_NetTotal_Input__c})), NULL,
IF(AND(ISNULL({!SObject.NET_Value_of_Discounts__c}), ISNULL({!SObject.Certified_Amount_Discount_Input__c})), NULL, 
({!SObject.Certified_Amount_Discount__c} +{!SObject.Certified_Amount_NetTotal__c} ))))</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>Set Brand Reported Amount 21 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Brand Reported Amount 23</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>595</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Daily_Sale__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Non_VAT_able_Sales__c</queriedFields>
        <queriedFields>Certified_Amount_Discount__c</queriedFields>
        <queriedFields>Certified_Amount_NetTotal__c</queriedFields>
        <queriedFields>NET_Value_of_Discounts__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Store_Closed__c</queriedFields>
        <queriedFields>Certified_Amount_Discount_Input__c</queriedFields>
        <queriedFields>Total_NET_SALES__c</queriedFields>
        <queriedFields>Total_Gross_Turnover__c</queriedFields>
        <queriedFields>Certified_Amount_NetTotal_Input__c</queriedFields>
        <queriedFields>VAT_Factor_Hidden__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Set Brand Reported Amount</label>
        <locationX>723</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand_Reported_Amount__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2264283960</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Sale__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Set Brand Reported Amount</label>
        <locationX>877</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand_Reported_Amount__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_9856766623</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified_Amount__c</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_6720721819</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Sale__c</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Daily_Sale__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
