force-app/main/default/flows/Update_Email_body_in_Attendee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_attendee_field</name>
        <label>Update attendee field</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varAttendee.Confirmation_email_body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEvent.Confirmation_email_body__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendee</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Email body in Attendee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email body in Attendee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attendee</name>
        <label>Get Attendee</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendeeId</elementReference>
            </value>
        </filters>
        <object>conference360__Attendee__c</object>
        <outputReference>varAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>conference360__Event__c</queriedFields>
        <queriedFields>Confirmation_email_body__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_attendee_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendee.conference360__Event__r.Id</elementReference>
            </value>
        </filters>
        <object>conference360__Event__c</object>
        <outputReference>varEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Confirmation_email_body__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attendee</name>
        <label>Update Attendee</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>varAttendee</inputReference>
    </recordUpdates>
    <startElementReference>Get_Attendee</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>conference360__Attendee__c</objectType>
    </variables>
    <variables>
        <name>varAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>conference360__Event__c</objectType>
    </variables>
</Flow>
