force-app/main/default/flows/Update_Daily_Sales_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>478</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>Nothingvariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Recheck_DS_Active</name>
        <label>Recheck DS Active</label>
        <locationX>480</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DS is Null</defaultConnectorLabel>
        <rules>
            <name>DS_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DailySalesRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DS_Active</targetReference>
            </connector>
            <label>DS not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Daily Sales Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Daily Sales Active</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Daily_sales_Records</name>
        <label>Lookup Daily sales Records</label>
        <locationX>192</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recheck_DS_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VillagePresenceId</elementReference>
            </value>
        </filters>
        <object>Daily_Sale__c</object>
        <outputAssignments>
            <assignToReference>DailySalesRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_DS_Active</name>
        <label>Update DS Active</label>
        <locationX>793</locationX>
        <locationY>82</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VillagePresenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Daily_Sales_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Village_Presence__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Daily_sales_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>DailySalesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Daily_Sale__c</objectType>
    </variables>
    <variables>
        <name>DSName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nothingvariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VillagePresenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
